<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Joke Service</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="script.js"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Jokes</h1>
        </div>
    </div>
    <div class="message-wrapper"><span id="delete-message"></span></div>
    <div class="row">

        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading own-panel-head">
                    <h4>Egne jokes</h4> <input type="button" value="Tilføj Joke" data-toggle="modal" data-target="#newJokeModal">
                </div>

                <div class="panel-body">

                    <table class="table table-condensed">
                        <tr><th><input type="button" id="removeJokeButton" value="Slet"/></th><th>Setup</th><th>Punchline</th><th>Rediger</th></tr>
                        {{>jokes}}
                    </table>

                </div></div></div>

    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Andre jokes</h4>
                </div>
                <div class="panel-body">
<div class="row">

    {{>otherJokes}}
</div>



                </div>

            </div>
        </div>
    </div>

</div>


<div class="modal fade" id="newJokeModal" tabindex="-1" role="dialog" aria-labelledby="newJokeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tilføj ny joke</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <label class="setupLabel">Setup: </label>

                <input type="text" class="setupInput form-control" id="addJokeSetup">

                <label>Punchline: </label>
                <input type="text" class="form-control"id="addJokePunchline">
<br>
                <div class="message-wrapper"><span id="create-message"></span></div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" id="addJokeButton" value="Gem">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="updateJokeModal" tabindex="-1" role="dialog" aria-labelledby="updateJokeModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Opdater joke</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                        <label class="setupLabel">Setup: </label>

                            <input type="text" class="setupInput form-control" id="updateJokeSetup">


                            <label>Punchline: </label>

                            <input type="text" class="form-control"id="updateJokePunchline">
                <br>
                <div class="message-wrapper"><span id="update-message"></span></div>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" id="updateJokeButton" value="Opdater">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



</body>
</html>