
{{#each jokes}}
    <tr>
        <td><input class="deleteCheckbox" id={{this._id}} type="checkbox"></td>
        <td><span> {{this.setup}}</span></td>
        <td><span> {{this.punchline}}</span></td>
        <td><span class="editButton" style="cursor:pointer;" id="{{this._id}}" data-toggle="modal" data-target="#updateJokeModal"><i class="glyphicon glyphicon-edit"></i></span></td>
    </tr>
{{/each}}



