
{{#each dealersAndJokes}}
    {{#if this.name}}
     <div class="col-sm-12"><h3>{{this.name}}</h3></div>
    {{else}}
        <div class="col-sm-3">
            <div class="joke-wrapper">
            <p><span><b>Setup: </b></span>{{this.setup}}</p>
            <p><span><b>Punchline: </b></span>{{this.punchline}}</p>

            </div>
        </div>
    {{/if}}
{{/each}}
