body{
    font-family: Verdana, Geneva, sans-serif;
}

.error{
    border-color:red;
}

.own-panel-head{
    position:relative;
}
.own-panel-head input{
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    border:0;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    background-color: #478049;
    color:white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}
.own-panel-head input:hover{
    background-color: #2d9c40;
}

.joke-wrapper{
    border:1px solid #ddd;
    overflow: auto;
    padding:10px;
    margin-bottom: 10px;
    height: 160px;
}

.setupLabel, .setupInput{
    margin-bottom:10px;
}

#removeJokeButton{
    border-radius:3px;
    border:0;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    background-color:#bd1212;
    color:white;
    font-size: 12px;
    font-weight: bold;
    padding: 6px;
}

#removeJokeButton:hover{
    background-color: #a60000;
}

.editButton{
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    font-size: 16px;
}

.editButton:hover{
    color: #4290ff;
}